.statistics_container{
    height: 272px;
    background-color: rgb(240, 240, 240);
    position: relative;
    text-align: center;
}

.charts{
    position: absolute;
    display: flex;
    /* justify-content: center; */
    align-items: baseline;
    left: 0px; 
    right: 0px; 
    bottom: 0px;
    padding: 3px;    
    overflow-x: auto;
}

.char_container{
    display: block;
    text-align: center;
    margin: 0 13px;
    
}

.inner_charts{
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.month_chart_expense{
    
    border-radius: 3px;
    transform: rotate(180deg);
    margin: 0 5px;
    background-color: #faaf9d;
    width: 45px;
    height: 0px;
    text-align: center;
}

.month_chart_expense:hover{
    background-color: #ff9b82;
}

.month_chart_income{
    cursor: pointer;
    border-radius: 3px;
    transform: rotate(180deg);
    margin: 0 5px;
    background-color: #c8fb68;
    width: 45px;
    height: 0px;
    text-align: center;
}

.month_chart_income:hover{
    background-color: #b6ff2d;
}

.form-select{
    width: 100px !important;
    margin: 0 15px 0 0;
}

.filters_chart{
    text-align: left;
    display: flex;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
